.dashboard-page {
  display: flex;
  flex-direction: row;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin-right: 10px;
  /* max-width: 600px; */
  /* max-width: 90rem; */
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-top: 300px;
}