@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* color: #003366; */
  font-synthesis: none;
  /*optimizeLegibility instructs browser to update text rendering for improve legibility, resulting in clearer and more readable text */
  text-rendering: optimizeLegibility;
  /* antialiased enhances text rendering on browsers that support to WebKit rendering rengine (such as Safari and some versions of Chrome) */
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  width: 100%;
  height: 100vh;
} */

h1 {
  font-size: 70px;
  line-height: 1.5;
  color: #003366;
}

h2 {
  font-size: 55px;
  line-height: 1.5;
  color: #003366;
}

h3 {
  font-size: 45px;
  line-height: 1.5;
  color: #003366;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border-color: black;
  cursor: pointer;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


/*  ~~ Start of component: ----  ~~   */
.AppContainer {
  /* place-items: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/*    ~~ End of component: ----   ~~   */



/*  ~~ Start of component: Login  ~~  */
.LoginContainer {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 300px;
  height: 500px;
  /* background-color: rgb(188, 183, 183); */
  border-color: black;
  /* border-radius: 5px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.close-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  box-shadow: 0, 0, 5px, rgba(0, 0, 0, 0.5);
}
.close-icon:hover {
  color: black;
  box-shadow: 0, 0, 5px, rgba(0, 0, 0, 0.5);
}
/*    ~~ End of component:  Login   ~~   */


/*  ~~ Start of component: Register  ~~   */
.RegisterContainer{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 500px;
  border-color: black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/*  ~~ Start of component: Splash Page  ~~   */
.splashpage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*    ~~ End of component: Splash Page   ~~   */

/*  ~~ Start of component: Dashboard  ~~   */
.dashboard-page {
  display: flex;
  flex-direction: row;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin-right: 10px;
  /* max-width: 600px; */
  /* max-width: 90rem; */
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-top: 300px;
}
/*    ~~ End of component: Dashboard   ~~   */

/*  ~~ Start of component: Profile Card  ~~   */

.profile-card {
  width: 275px;
  height: 350px;
  background-color: rgb(200, 209, 219);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 10px;
  margin: 15px;
  color: #003366;
}

.image {
  height: 250px;
  object-fit: cover;
  position: relative;
}

.image-card {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #1f3d4743;
  top: 0px;
  right: 0px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*    ~~ End of component: Profile Card   ~~   */





/*  ~~ Start of component: ----  ~~   */

/*    ~~ End of component: ----   ~~   */
