@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-synthesis: none;
   /*optimizeLegibility instructs browser to update text rendering for improve legibility, resulting in clearer and more readable text */
  text-rendering: optimizeLegibility;
  /* antialiased enhances text rendering on browsers that support to WebKit rendering rengine (such as Safari and some versions of Chrome) */
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 70px;
  line-height: 1.5;
  font-weight: bold;
}

h2 {
  font-size: 55px;
  line-height: 1.5;
}

h3 {
  font-size: 45px;
  line-height: 1.5;
}
/* 
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border-color: black;
  cursor: pointer;
} */

/* button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */


/*  ~~ Start of component: Login  ~~  */
.LoginContainer {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 300px;
  height: 500px;
  border-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.close-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  box-shadow: 0, 0, 5px, rgba(0, 0, 0, 0.5);
}
.close-icon:hover {
  color: black;
  box-shadow: 0, 0, 5px, rgba(0, 0, 0, 0.5);
}
/*    ~~ End of component:  Login   ~~   */


/*  ~~ Start of component: Register  ~~   */
.RegisterContainer{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 500px;
  border-color: black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}


/*  ~~ Start of component: Profile Card  ~~   */

.profile-card {
  width: 275px;
  height: 350px;
  background-color: rgb(200, 209, 219);
  border-radius: 10px;
  /* This hides the image overlay */
  overflow: hidden; 
  box-shadow: 8px 8px;
  margin: 15px;
  color: #013870;
}

.image {
  height: 250px;
  object-fit: cover;
  position: relative;
}

.image-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(40, 40, 40, 0.6);
  top: 0px;
  /* positions overlay to the right side of the image  */
  right: -100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-size: 14px;
  font-weight: bold;
  backdrop-filter: blur(5px);
  transition: 1s;
}

.image:hover .image-overlay {
  right: 0;
}

.profile-card-icons:hover {
  color: #f2f2f2;
  transition: .5s;
}

/*    ~~ End of component: Profile Card   ~~   */

/*  ~~ Start of component: yyoon's  ~~   */
.material-symbols-outlined {
  float: right;
}

.material-symbols-outlined:hover {
  color:rgb(107, 192, 164)
}

#chartContainer {
  position: relative;
  padding: 24px;
  margin: 24px;
  height: 80vh;
  width: 70vw;
}

/*    ~~ End of component: yyoon's ~~   */

/*  ~~ Start of component: Dashboard  ~~   */


/*    ~~ End of component: Dashboard   ~~   */


/*  ~~ Start of component: Meet The Team  ~~   */
.meetTheTeam-bg {
  background: linear-gradient(to bottom, #d3dce5 0, #87CEFA 30%, #087CC4 100%)
}
/*    ~~ End of component: Meet The Team  ~~   */

/*  ~~ Start of component: Features Section  ~~   */
.featuresSection-bg {
  background: linear-gradient(to top, #d3dce5 0, #87CEFA 30%, #087CC4 100%)
}

/*    ~~ End of component: Features Section   ~~   */




/*  ~~ Start of component: ----  ~~   */

/*    ~~ End of component: ----   ~~   */