:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

h1 {
  font-size: 70px;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border-color: black;
  cursor: pointer;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.AppContainer {
  place-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/*  ~~ Start of component: Login  ~~  */
.LoginContainer {
  width: 300px;
  height: 500px;
  background-color: rgb(188, 183, 183);
  border-color: black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  .close-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    box-shadow: 0, 0, 5px, rgba(0, 0, 0, 0.5);
  }
  .close-icon:hover {
    color: black;
    box-shadow: 0, 0, 5px, rgba(0, 0, 0, 0.5);
  }
}

/*    ~~ End of component:  Login   ~~   */


/*  ~~ Start of component: Register  ~~   */
.RegisterContainer{
  width: 300px;
  height: 500px;
  background-color: rgb(188, 183, 183);
  border-color: black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*    ~~ End of component: Register   ~~   */

/*  ~~ Start of component: Navbar  ~~   */
.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  border-color: white;
  border-style: solid;
  height: 70px;
}

.login-btn {
  border-radius: 5px;
  border-color: black;
  background-color: rgb(162, 162, 162);
  height: 30px;
  margin: 10px;
}
/*    ~~ End of component: Navbar   ~~   */




/*  ~~ Start of component: ----  ~~   */

/*    ~~ End of component: ----   ~~   */